---
import Layout from '../layouts/Layout.astro';
import ChapterSection from '../components/ChapterSection.astro';
import InfoSection from '../components/InfoSection.astro'
---

<Layout title="Espectro Electromagnetico">
	<main>
		<ChapterSection
			title="EL ESPECTRO ELECTROMAGNTICO"
			content= "El objetivo de un sistema electr贸nico de comunicaciones es transferir informaci贸n entre dos o m谩s lugares, conocidos como estaciones. Esto se logra convirtiendo la informaci贸n original en energ铆a electromagn茅tica, la cual se transmite y se reconvierte a su forma original en la estaci贸n receptora. La energ铆a electromagn茅tica puede propagarse a trav茅s de conductores met谩licos, ondas de radio en el espacio libre, o fibras 贸pticas."
		/>
		
		<p>La <b>frecuencia</b> es la cantidad de veces que ocurre un movimiento peri贸dico, como una onda senoidal, en un per铆odo de tiempo dado. La unidad de frecuencia es el hertz (Hz), que equivale a un ciclo por segundo. Frecuencias altas se representan con prefijos m茅tricos como kHz (kilohertz) para miles de hertz, y MHz (megahertz) para millones de hertz.</p>
		<br>
		<h4 class="text-center font-bold">Frecuencias de Transmisi贸n</h4>
		<p>El espectro electromagn茅tico cubre un rango amplio de frecuencias desde las subs贸nicas (unos pocos hertz) hasta los rayos c贸smicos (10^22 Hz). Este espectro se subdivide en bandas de frecuencia, cada una con un nombre y l铆mites espec铆ficos. En los Estados Unidos, la FCC asigna frecuencias para radiopropagaci贸n en el espacio libre, como la banda de FM comercial (88 MHz a 108 MHz). Las bandas se subdividen para diferentes servicios.</p>
		<br>
		<p><b>Designaciones de Banda</b></p>
		<ul class="list-disc">
			<li class="ml-16"><b>ELF (Extremely Low Frequencies):</b> 30 a 300 Hz. Incluyen se帽ales de distribuci贸n el茅ctrica y telemetr铆a de baja frecuencia.</li>
			<li class="ml-16"><b>VF (Voice Frequencies):</b> 300 a 3000 Hz. Asociadas generalmente a la voz humana.</li>
			<li class="ml-16"><b>VLF (Very Low Frequencies):</b> 3 a 30 kHz. Usadas en comunicaciones especiales como con submarinos.</li>
			<li class="ml-16"><b>LF (Low Frequencies):</b> 30 a 300 kHz. Usadas principalmente en navegaci贸n marina y aeron谩utica.</li>
			<li class="ml-16"><b>MF (Medium Frequencies):</b> 300 kHz a 3 MHz. Usadas en emisiones comerciales de radio AM.</li>
			<li class="ml-16"><b>HF (High Frequencies):</b> 3 a 30 MHz. Usadas en radiocomunicaciones en dos sentidos, emisiones de radio internacionales, y radioaficionados.</li>
			<li class="ml-16"><b>VHF (Very High Frequencies):</b> 30 a 300 MHz. Usadas en radios m贸viles, comunicaciones marinas y aeron谩uticas, FM comercial, y televisi贸n.</li>
			<li class="ml-16"><b>UHF (Ultra High Frequencies):</b> 300 MHz a 3 GHz. Usadas en televisi贸n, comunicaciones m贸viles terrestres, tel茅fonos celulares, radar, navegaci贸n, y radio por microondas y sat茅lite. Frecuencias mayores a 1 GHz se consideran microondas.</li>
			<li class="ml-16"><b>SHF (Super High Frequencies):</b>b3 a 30 GHz. Usadas en sistemas de radiocomunicaciones por microondas y sat茅lite./li>
		</ul>
		<br>
		<p><b>Diagrama del Espectro Electromagn茅tico</b></p>
		<p>El espectro electromagn茅tico muestra desde frecuencias subs贸nicas hasta rayos c贸smicos, pasando por bandas de radiofrecuencias, microondas, infrarrojo, visible, ultravioleta, rayos X, gamma, y c贸smicos. Este espectro ilustra las aplicaciones y usos en diferentes 谩reas de las comunicaciones electr贸nicas.</p>
		<br>
		


		<p><b>Longitud de Onda</b></p>
		La longitud de onda (位) de una se帽al es la distancia entre dos puntos id茅nticos en ondas consecutivas. Se puede calcular usando la f贸rmula:
		<p class="grid justify-items-center"> =/  </p>
		<p>donde:</p>
		<p>位 es la longitud de onda en metros.</p>
		<p>v es la velocidad de la onda (para ondas electromagn茅ticas en el vac铆o, v es la velocidad de la luz, 310^8m/s).</p>
		<p>f es la frecuencia en hertz.</p>
		<br>
		<div class="grid justify-items-center">
			<img src="media/grafica 3.jpg">
		</div>
		<br>
		<p><b>Clasificaci贸n de los Transmisores</b></p>
		<p>En Estados Unidos, los radiotransmisores se clasifican para fines de registro seg煤n:</p>
		<ul class="list-disc">
			<li class="ml-16">Ancho de banda</li>
			<li class="ml-16">Esquema de modulaci贸n</li>
			<li class="ml-16">Tipo de informaci贸n</li>
		</ul>
		
		<p>Estas clasificaciones de emisi贸n se identifican con una clave de tres s铆mbolos, combinando letras y n煤meros.</p>
		<ul class="list-disc">
			<li class="ml-16">Primer s铆mbolo: Una letra que indica el tipo de modulaci贸n de la portadora principal.</li>
			<li class="ml-16">Segundo s铆mbolo: Un n煤mero que identifica el tipo de emisi贸n.</li>
			<li class="ml-16">Tercer s铆mbolo: Una letra que describe el tipo de informaci贸n transmitida.</li>
		</ul>
		
		<div class="grid justify-items-center">
			<br>
			<img src="media/grafica 4.jpg">
		</div>

		<div class="navigation-buttons">
			<a href="/pag2" class="button">Atr谩s</a>
			<a href="/pag4" class="button">Siguiente</a>
		</div>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.navigation-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 2rem;
	}
	.button {
		padding: 0.5rem 1rem;
		background-color: #007BFF;
		color: white;
		text-decoration: none;
		border-radius: 4px;
	}
	.button:hover {
		background-color: #0056b3;
	}
</style>